#c-turn {
  display: grid;
  grid-gap: .5em;
  grid-template-areas: "ai    turn-top" "human turn-bottom"; }
  #c-turn p {
    margin: 0; }
  #c-turn #l-turn__ai {
    grid-area: ai; }
  #c-turn #l-turn__human {
    grid-area: human; }
  #c-turn .l-turn__name {
    text-align: right;
    font-size: 50px; }
  #c-turn .l-turn__name[data-active=true] {
    color: #111111; }
  #c-turn .l-turn__name[data-active=false] {
    color: #a7a7a7; }
  #c-turn #l-turn__text {
    font-size: 25px;
    display: flex;
    align-items: flex-end;
    grid-area: turn-top; }
    #c-turn #l-turn__text[data-aiturn=true] {
      transform: translate(0, 0); }
    #c-turn #l-turn__text[data-aiturn=false] {
      transform: translate(0, calc(50px + 0.75em)); }
    #c-turn #l-turn__text p {
      margin-bottom: 0.25em; }

@media only screen and (max-width: 800px) {
  #c-turn {
    display: grid;
    grid-gap: .5em;
    grid-template-areas: "ai    turn-top" "human turn-bottom"; }
    #c-turn p {
      margin: 0; }
    #c-turn #l-turn__ai {
      grid-area: ai; }
    #c-turn #l-turn__human {
      grid-area: human; }
    #c-turn .l-turn__name {
      text-align: right;
      font-size: 30px; }
    #c-turn .l-turn__name[data-active=true] {
      color: #111111; }
    #c-turn .l-turn__name[data-active=false] {
      color: #a7a7a7; }
    #c-turn #l-turn__text {
      font-size: 15px;
      display: flex;
      align-items: flex-end;
      grid-area: turn-top; }
      #c-turn #l-turn__text[data-aiturn=true] {
        transform: translate(0, 0); }
      #c-turn #l-turn__text[data-aiturn=false] {
        transform: translate(0, calc(30px + 1.2em)); }
      #c-turn #l-turn__text p {
        margin-bottom: 0.4em; } }
