$active-color: rgb(17, 17, 17);
$inactive-color: rgb(167, 167, 167);

@mixin main-style($turn-name-fontsize, $turn-text-fontsize, $turn-text-botmargin) {
    #c-turn {
        display: grid;
        grid-gap: .5em;
        grid-template-areas:    "ai    turn-top"
                                "human turn-bottom";
    
        p {
            margin: 0;
        }
    
        #l-turn__ai {
            grid-area: ai;
        }
        #l-turn__human {
            grid-area: human;
        }
    
        .l-turn__name {
            text-align: right;
            font-size: $turn-name-fontsize;
        }
    
        .l-turn__name[data-active=true] {
            color: $active-color;
        }
        .l-turn__name[data-active=false] {
            color: $inactive-color;
        }
    
        #l-turn__text {
            font-size: $turn-text-fontsize;
            display: flex;
            align-items: flex-end;
            grid-area: turn-top;
            
            &[data-aiturn=true] {
                transform: translate(0, 0);
            }
            
            &[data-aiturn=false] {
                transform: translate(0, calc(#{$turn-name-fontsize} + #{3 * $turn-text-botmargin}));
                // grid-area: turn-bottom;
            }
    
            p {
                margin-bottom: $turn-text-botmargin;
            }
        }
    }
}

$turn-name-fontsize: 50px;
$turn-text-fontsize: 25px;
$turn-text-botmargin: .25em;

@include main-style(
    $turn-name-fontsize,
    $turn-text-fontsize,
    $turn-text-botmargin
);

@media only screen and (max-width: 800px) {
    $turn-name-fontsize: 30px;
    $turn-text-fontsize: 15px;
    $turn-text-botmargin: .4em;
    @include main-style(
        $turn-name-fontsize,
        $turn-text-fontsize,
        $turn-text-botmargin
    );
}