$item-padding: 8px;

#l-dropdown {
    position: relative;

    #l-dropdown__list {
        top: 0;
        // left: 50%;
        position: absolute;
        font-size: .8em;
        padding: $item-padding;
        animation-timing-function: cubic-bezier(.11,1.11,.15,.99);
        animation-duration: 2s;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transform: translate(0, 21px);
    
        #c-list__item {
            font-size: .85em;
            white-space: nowrap;
            padding: $item-padding 20px;
        }

        #c-list__item:hover {
            transform: translate(8px, 0);
        }
    }

    #l-dropdown__list[data-state='hide'] {
        animation-name: hide-list;
    }

    #l-dropdown__list[data-state='appear'] {
        animation-name: show-list;
        animation-fill-mode: forwards;
    }
}

@keyframes hide-list {
    0% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    100% {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
}

@keyframes show-list {
    0 {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
}