#l-dropdown {
  position: relative; }
  #l-dropdown #l-dropdown__list {
    top: 0;
    position: absolute;
    font-size: .8em;
    padding: 8px;
    animation-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
    animation-duration: 2s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translate(0, 21px); }
    #l-dropdown #l-dropdown__list #c-list__item {
      font-size: .85em;
      white-space: nowrap;
      padding: 8px 20px; }
    #l-dropdown #l-dropdown__list #c-list__item:hover {
      transform: translate(8px, 0); }
  #l-dropdown #l-dropdown__list[data-state='hide'] {
    animation-name: hide-list; }
  #l-dropdown #l-dropdown__list[data-state='appear'] {
    animation-name: show-list;
    animation-fill-mode: forwards; }

@keyframes hide-list {
  0% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); } }

@keyframes show-list {
  0 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
