#l-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  background-image: url("/imgs/background.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(0px); }
  #l-section #l-section__wall[data-display='true'] {
    opacity: .85;
    pointer-events: visible; }
  #l-section #l-section__footer {
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-family: novecento;
    font-weight: 200;
    font-size: .7em; }
    #l-section #l-section__footer #c-devs__name {
      position: relative; }

#l-section__title {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 2.5em;
  margin: 0; }

#l-section__wall {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  pointer-events: none; }

#l-section__popup {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  height: 220px;
  width: 330px;
  background-color: #dadada;
  border-radius: 4px;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  #l-section__popup #c-popup__message {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    background-color: white;
    font-size: 2.5em;
    font-weight: 100;
    border-radius: 4px; }

#l-section__popup[data-display='true'] {
  pointer-events: visible;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }

@media only screen and (max-width: 800px) {
  #l-section__title {
    top: 15px !important;
    left: 50% !important;
    width: 100%;
    transform: translateX(-50%);
    text-align: center; }
  #l-section__footer {
    font-size: .55em !important;
    left: 50% !important;
    bottom: 15px !important;
    width: 100%;
    transform: translateX(-50%);
    text-align: center; } }
