#l-button, #l-button[data-state='idle'] {
    position: relative;
    padding: 6px 18px;

    #c-button__border, #c-button__border[data-state='idle'] {
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
        height: 100%;
        width: 100%;
    }

}

#c-button__content, #l-button[data-state='idle'] {
    font-size: .85em;
    transform-origin: 50% 50%;
    transform: rotateY(180deg);
}

#l-button:hover {
    #c-button__content {
        transform: rotateY(0deg);
    }
}

#c-button__border[data-state='clicked'] {
    animation-name: clicked-button;
    animation-timing-function: cubic-bezier(0,.96,.62,1.01);
    animation-duration: 1s;

    transform-origin: 50% 50%;
}

@keyframes clicked-button {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@media only screen and (max-width: 800px) {
    #c-button__content {
        transform: rotateY(0);
    }   
}