@import "../Board/board_util.scss";

$disk-width: 75%;

#disk {
    width: $disk-width;
    height: $disk-width;
    border-radius: 50%;
    transform-origin: 50% 50%;
    
    &[data-color=true] {
        background: #EEEEEE;
        transform: rotateY(180deg);
    }
    
    &[data-color=false] {
        background: #1D1D1D;
        transform: rotateY(0deg);
    }
}

.h-animation-flip {
    transition-timing-function: cubic-bezier(.11,1.11,.15,.99);
    transition-duration: 1.5s;
}