#disk {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  transform-origin: 50% 50%; }
  #disk[data-color=true] {
    background: #EEEEEE;
    transform: rotateY(180deg); }
  #disk[data-color=false] {
    background: #1D1D1D;
    transform: rotateY(0deg); }

.h-animation-flip {
  transition-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
  transition-duration: 1.5s; }
