#outer {
  display: inline-block;
  background-color: #D1CCCC;
  padding: 10px; }

#edge, #v-edge, #h-edge, #corner {
  background-color: #58a54c;
  margin: 1px;
  color: #D1CCCC;
  font-family: novecento;
  font-weight: 200;
  font-size: .7em; }

#v-edge {
  width: 16.5px;
  height: 33px; }
  #v-edge[data-extension="top"] {
    height: 37px;
    margin-top: -1px; }
  #v-edge[data-extension="bottom"] {
    height: 37px;
    margin-bottom: -1px; }

#h-edge {
  width: 33px;
  height: 16.5px; }
  #h-edge[data-extension="left"] {
    width: 37px;
    margin-left: -1px; }
  #h-edge[data-extension="right"] {
    width: 37px;
    margin-right: -1px; }

#corner {
  width: 16.5px;
  height: 16.5px; }

#board-row {
  margin-left: 2px;
  margin-right: 2px; }
  #board-row[data-l-position="top"] {
    margin-top: 2px; }
  #board-row[data-l-position="bottom"] {
    margin-bottom: 2px; }
