@import "./board_util.scss";

#outer {
    display: inline-block;
    background-color: #D1CCCC;
    padding: 10px;
}

#edge, #v-edge, #h-edge, #corner {
    background-color: #58a54c;
    margin: $gap;
    color: #D1CCCC;
    font-family: novecento;
    font-weight: 200;
    font-size: .7em;
}

#v-edge {
    width: 0.5 * $tile-width;
    height: $tile-width;

    &[data-extension="top"] {
        height: $tile-width + 4 * $gap;
        margin-top: -$gap;
    }

    &[data-extension="bottom"] {
        height: $tile-width + 4 * $gap;
        margin-bottom: -$gap;
    }
}

#h-edge {
    width: $tile-width;
    height: 0.5 * $tile-width;

    &[data-extension="left"] {
        width: $tile-width + 4 * $gap;
        margin-left: -$gap;   
    }

    &[data-extension="right"] {
        width: $tile-width + 4 * $gap;
        margin-right: -$gap;
    }
}

#corner {
    width: 0.5 * $tile-width;
    height: 0.5 * $tile-width;
}

#board-row {
    margin-left: 2 * $gap;
    margin-right: 2 * $gap;

    &[data-l-position="top"] {
        margin-top: 2 * $gap;
    }

    &[data-l-position="bottom"] {
        margin-bottom: 2 * $gap;
    }
}