* {
  text-decoration: none;
  border: none; }

*[data-state='off'] {
  display: none; }

button,
button:focus,
button:active {
  pointer-events: visible;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0; }

html, body {
  margin: 0;
  overflow: hidden; }

.h-animation-config {
  transition-timing-function: cubic-bezier(0.11, 1.11, 0.15, 0.99);
  transition-duration: 1.5s; }

@font-face {
  font-family: novecento;
  src: url("../fonts/Novecento-sans-wide-Light.otf") format("truetype");
  font-weight: 100; }

@font-face {
  font-family: novecento;
  src: url("../fonts/Novecento-sans-wide-Medium.otf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: novecento;
  src: url("../fonts/Novecento-sans-wide-Bold.otf") format("truetype");
  font-weight: 900; }

.h-font--small {
  font-family: novecento;
  font-weight: 100; }

.h-font--medium {
  font-family: novecento;
  font-weight: 200; }

.h-font--bold {
  font-family: novecento;
  font-weight: 900; }

.l-flex--row-wrap {
  display: flex;
  flex-flow: row wrap; }

.l-flex--row-nowrap {
  display: flex;
  flex-flow: row nowrap; }

.l-flex--column-wrap {
  display: flex;
  flex-flow: column wrap; }

.l-flex--column-nowrap {
  display: flex;
  flex-flow: column nowrap; }

.l-flex--center-center {
  justify-content: center;
  align-items: center; }

.h-center {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center; }
