$black: #000000;

$dashboard-width: 17em;
$title-fontsize: 3.5em;
$title-margin: 15px 0;
$title-padding: 25px 0;

$lastexec-boxpadding: .6em 3.5em;

$statbox-margin: 1em;
$circle-size: 50px;
$stat-font-size: .8em;
$label-margin: 1em 0;
$label-fontsize: .65em;

$font: novecento;
$font-weight: 200;

#l-bars {
    display: grid;
    grid-template-columns: ($dashboard-width * 4 / 27) ($dashboard-width * 20 / 27) ($dashboard-width / 9);
    grid-column-gap: .15em;
    grid-template-areas:    "button     empty  empty    "
                            "title     empty  empty    "
                            "llvllabel lvlbar rlvllabel"
                            "lwinlabel winbar rwinlabel";
    align-items: center;
    justify-content: center;

    #c-dashboardbutton {
        grid-area: button;
    }
    #c-dashboardtitle {
        line-height: 0;
        padding: $title-padding;
        grid-area: title;
        margin: $title-margin;
        text-align: right;
        font-size: $title-fontsize;
        font-family: $font;
        font-weight: $font-weight;
    }

    #l-levelbar__llabel {
        grid-area: llvllabel;
        text-align: right;
        font-family: $font;
        font-weight: $font-weight;
        font-size: $stat-font-size;
    }
    #l-levelbar__bar {
        grid-area: lvlbar;
    }
    #l-levelbar__rlabel {
        grid-area: rlvllabel;
        font-family: $font;
        font-weight: $font-weight;
        font-size: $stat-font-size;
    }
    #l-winbar__llabel {
        grid-area: lwinlabel;
        text-align: right;
        font-family: $font;
        font-weight: $font-weight;
        font-size: $stat-font-size;
    }
    #l-winbar__bar {
        grid-area: winbar;
    }
    #l-winbar__rlabel {
        font-family: $font;
        font-weight: $font-weight;
        font-size: $stat-font-size;
        grid-area: rwinlabel;
    }
}

#l-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #c-lastexec {
        border: 1px solid $black;
        padding: $lastexec-boxpadding;
        font-family: $font;
        font-weight: $font-weight;
        font-size: $stat-font-size;
    }

    #l-numbers {
        display: flex;
        justify-content: space-between;

        .l-statwrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: $statbox-margin;
            
            .c-statdisplay {
                height: $circle-size;
                width: $circle-size;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: $black;
                font-family: $font;
                font-weight: 200;
                font-size: $stat-font-size;
                color: #ffffff;
                div {
                    align-items: flex-end;
                    span:last-child {
                        font-size: .7em;
                    }
                }
            }
            .c-statlabel {
                margin: $label-margin;
                font-size: $label-fontsize;
                font-family: $font;
                font-weight: $font-weight;
            }
        }

    }
}