#l-bars {
  display: grid;
  grid-template-columns: 2.51852em 12.59259em 1.88889em;
  grid-column-gap: .15em;
  grid-template-areas: "button     empty  empty    " "title     empty  empty    " "llvllabel lvlbar rlvllabel" "lwinlabel winbar rwinlabel";
  align-items: center;
  justify-content: center; }
  #l-bars #c-dashboardbutton {
    grid-area: button; }
  #l-bars #c-dashboardtitle {
    line-height: 0;
    padding: 25px 0;
    grid-area: title;
    margin: 15px 0;
    text-align: right;
    font-size: 3.5em;
    font-family: novecento;
    font-weight: 200; }
  #l-bars #l-levelbar__llabel {
    grid-area: llvllabel;
    text-align: right;
    font-family: novecento;
    font-weight: 200;
    font-size: 0.8em; }
  #l-bars #l-levelbar__bar {
    grid-area: lvlbar; }
  #l-bars #l-levelbar__rlabel {
    grid-area: rlvllabel;
    font-family: novecento;
    font-weight: 200;
    font-size: 0.8em; }
  #l-bars #l-winbar__llabel {
    grid-area: lwinlabel;
    text-align: right;
    font-family: novecento;
    font-weight: 200;
    font-size: 0.8em; }
  #l-bars #l-winbar__bar {
    grid-area: winbar; }
  #l-bars #l-winbar__rlabel {
    font-family: novecento;
    font-weight: 200;
    font-size: 0.8em;
    grid-area: rwinlabel; }

#l-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #l-stats #c-lastexec {
    border: 1px solid #000000;
    padding: 0.6em 3.5em;
    font-family: novecento;
    font-weight: 200;
    font-size: 0.8em; }
  #l-stats #l-numbers {
    display: flex;
    justify-content: space-between; }
    #l-stats #l-numbers .l-statwrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1em; }
      #l-stats #l-numbers .l-statwrapper .c-statdisplay {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #000000;
        font-family: novecento;
        font-weight: 200;
        font-size: 0.8em;
        color: #ffffff; }
        #l-stats #l-numbers .l-statwrapper .c-statdisplay div {
          align-items: flex-end; }
          #l-stats #l-numbers .l-statwrapper .c-statdisplay div span:last-child {
            font-size: .7em; }
      #l-stats #l-numbers .l-statwrapper .c-statlabel {
        margin: 1em 0;
        font-size: 0.65em;
        font-family: novecento;
        font-weight: 200; }
