$filled-color: #181818;
$empty-color: #d3d2d2;
$bar-height: 2px;

#c-percentagebar__wrapper {
    position: relative;
    background: $empty-color;
    height: $bar-height;
    margin: 1em; // DEBUG, delete

    #c-percentagebar__filler {
        background: $filled-color;
        height: 100%;
    }
}

#c-fractionbar__wrapper {
    position: relative;
    height: $bar-height;
    margin: 1em; // DEBUG, delete

    display: flex;
    justify-content: space-between;

    .c-fractionbar__filled {
        background: $filled-color;
        height: 100%;
    }

    .c-fractionbar__empty {
        background: $empty-color;
        height: 100%;
    }
}
