#c-percentagebar__wrapper {
  position: relative;
  background: #d3d2d2;
  height: 2px;
  margin: 1em; }
  #c-percentagebar__wrapper #c-percentagebar__filler {
    background: #181818;
    height: 100%; }

#c-fractionbar__wrapper {
  position: relative;
  height: 2px;
  margin: 1em;
  display: flex;
  justify-content: space-between; }
  #c-fractionbar__wrapper .c-fractionbar__filled {
    background: #181818;
    height: 100%; }
  #c-fractionbar__wrapper .c-fractionbar__empty {
    background: #d3d2d2;
    height: 100%; }
