#l-game {
  display: grid;
  width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto; }

#l-game__player {
  box-sizing: border-box;
  grid-column: 1/2;
  grid-row: 1/2;
  justify-content: flex-start;
  align-items: flex-end; }

#l-player__turn {
  margin-bottom: 15px; }

#l-player__disk-info {
  align-items: flex-end;
  margin-bottom: 15px; }
  #l-player__disk-info > .l-player__disk {
    position: relative;
    z-index: 0;
    font-family: novecento;
    font-size: .7em; }
    #l-player__disk-info > .l-player__disk:last-child {
      margin-top: 5px; }
    #l-player__disk-info > .l-player__disk > label {
      margin-right: 5px; }
    #l-player__disk-info > .l-player__disk span {
      position: absolute;
      z-index: 1;
      height: 100%;
      width: 100%; }
    #l-player__disk-info > .l-player__disk > #l-player__your-disk {
      position: relative; }
    #l-player__disk-info > .l-player__disk > #l-player__enemy-disk {
      position: relative; }
      #l-player__disk-info > .l-player__disk > #l-player__enemy-disk > span {
        color: white; }

.l-player__tools--row {
  justify-content: flex-end; }
  .l-player__tools--row .l-player__button {
    margin: 5px; }

#l-game__board {
  box-sizing: border-box;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 0 30px; }

#l-game__ai-player {
  grid-column: 3/4;
  grid-row: 1/2;
  justify-content: flex-start;
  align-items: flex-start; }
  #l-game__ai-player > #c-game__ai-player {
    transform-origin: 0 50%; }
    #l-game__ai-player > #c-game__ai-player[data-dashboard-appear='false'] {
      transform: scale(0.85, 0.85);
      opacity: 0; }
    #l-game__ai-player > #c-game__ai-player[data-dashboard-appear='true'] {
      transform: scale(1, 1);
      opacity: 1; }

@media only screen and (max-width: 800px) {
  #l-game {
    width: 100vw;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto; }
  #l-game__player {
    padding: 0;
    padding-top: 20px;
    display: grid;
    grid-template-areas: 'turn disk-info' 'turn buttons';
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    grid-row: 2/3; }
  #l-player__turn {
    height: 100%;
    margin: 0;
    border-right: 0.5px solid rgba(0, 0, 0, 0.452);
    padding-right: 15px;
    grid-area: turn; }
  #l-player__tools {
    padding-left: 15px;
    grid-area: buttons; }
  .l-player__tools--row {
    justify-content: flex-start; }
  #l-player__disk-info {
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left: 15px;
    grid-area: disk-info; }
    #l-player__disk-info > * {
      margin: 0 5px; }
  #l-game__board {
    padding-top: 0;
    width: 100vw;
    grid-column: 1/2;
    grid-row: 1/2; }
  #l-game__ai-player {
    display: none;
    position: fixed;
    grid-column: unset;
    grid-row: unset; } }
