@import "../board_util.scss";

$suggestion-none: #69B85D;
$suggestion-light: #4f9680;
$suggestion-dark: #468270;

#tile {
    width: $tile-width;
    height: $tile-width;
    background-color: $suggestion-none;
    margin: $gap;

    &[data-suggested=true] {
        background-color: $suggestion-dark;
        animation: pulse 1.5s infinite;
    }

    &[data-suggested=false] {
        background-color: $suggestion-none;
    }
}

@keyframes pulse {
    0% {
        background-color: $suggestion-light;
    }

    70% {
        background-color: $suggestion-dark;
    }

    100% {
        background-color: $suggestion-light;
    }
}