#tile {
  width: 33px;
  height: 33px;
  background-color: #69B85D;
  margin: 1px; }
  #tile[data-suggested=true] {
    background-color: #468270;
    animation: pulse 1.5s infinite; }
  #tile[data-suggested=false] {
    background-color: #69B85D; }

@keyframes pulse {
  0% {
    background-color: #4f9680; }
  70% {
    background-color: #468270; }
  100% {
    background-color: #4f9680; } }
